# API
NEXT_PUBLIC_API_URL=http://localhost:4000/api
API_URL=http://localhost:4000/api
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
JWT_SECRET=change-this-secret
NEXT_PUBLIC_PORTAL_LOGIN_URL=http://localhost:3000/en/login

# App
NEXT_PUBLIC_APP_NAME=Frontend Platter
NEXT_PUBLIC_APP_URL=http://localhost:3000

# i18n
NEXT_PUBLIC_DEFAULT_LOCALE=th

# Feature Flags
DISABLE_AUTH_MIDDLEWARE=true
